video {
	background-color: #000; /* for overlaying fallback text */
	}

/* make video scale like images in Shower */
.slide.cover video {
    position: absolute;
	z-index: 1;

    height: 100%;
    min-width: 100%;
    left: -1px; /* retina fix */
    top: 0;
    }

.iphone .slide.cover .video_wrapper {
	position: relative; /* making video stretch relatively to its wrapper fo mobile devices */
	height: 300px;
	}

/* Hiding all videos by default, to stop browser crashing from multiple video init */
.mobile .slide.cover .video_wrapper {
	display: none;
	}